<%= form_for(@employee) do |f| %>

<fieldset>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email %><br/>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :phone %><br/>
  <%= f.telephone_field :phone %>
</p>

<p>
  <%= f.label :time %><br/>
  <%= f.number_field :time %><br/>
</p>

</fieldset>

<p id="form-button">
  <%= f.submit %>
  <%= link_to 'Cancel', employees_path %>
</p>


<% end %>
