<%= form_for(@employee) do |f| %>

<fieldset>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email %><br/>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :phone %><br/>
  <%= f.telephone_field :phone %>
</p>

<p>
  <%= f.label :time %><br/>
  <%= f.number_field :time %><br/>
</p>

<p>
  <%= f.label :password %><br/>
  <%= f.password_field :password %><br/>
</p>

<p>
  <%= f.label :password_confirmation, "Confirm Password" %><br/>
  <%= f.password_field :password_confirmation %><br/>
</p>

<p>
  <%= f.label :manager%><br/>
  <%= f.check_box :manager %>
</p>

</fieldset>

<p>
  <%= f.submit %>
  <%= button_to 'Cancel', employees_path %>
</p>


<% end %>
