<h1>Welcome, <%= @employee.name %>!</h1>

<h2>Overall Staff Efficiency</h2>

<h3><%= link_to 'Create New Task', new_task_path %></h3>

<h4>Tasks Due Today</h4>
<p>
    <ol id="today">
      <% Task.current.each do |task| %>
        <ul>
          <li> <%= link_to task.title, task %></li>
        </ul>
      <% end %>
    </ol>
    <ol id="completed">
      <% Task.completed.each do |task| %>
        <ul>
          <li> <%= link_to task.title, task %></li>
        </ul>
      <% end %>
    </ol>
</p>


<%= link_to 'Add New Staff Member', new_employee_path %>
