<h1>Welcome, <%= @employee.name %>!</h1>
<% if @employee.manager? %>
  <h2>Manager</h2>
<% end %>

<ol id="tasks">
  <% @tasks.each do |task| %>
    <ul>
      <li> <%= link_to task.title, task %></li>
    </ul>
  <% end %>
</ol>
<nav>
  <% if current_employee_manager? %>
    <%= link_to 'Add New Task', new_task_path %>
    <%= link_to 'Edit', edit_employee_path %>
    <%= link_to 'Delete', @employee, method: :delete, data: {confirm: 'Are you certain you want to permanently delete this employee?'} %>
  <% end %>

  <%= link_to 'All Employees', employees_path %>
</nav>
