<h1><%= @employee.name %></h1>
<% if @employee.manager? %>
  <h2>Manager</h2>
<% end %>

<ul>
  <li> <%= @employee.email %></li>
  <li> <%= @employee.phone %></li>
  <li> <%= @employee.time %> minutes </li>
</ul>

<nav>
  <% if current_employee_manager? %>
  <%= link_to 'Edit', edit_employee_path %>
  <%= link_to 'Delete', @employee, method: :delete, data: {confirm: 'Are you certain you want to permanently delete this employee?'} %>
<% end %>
  <%= link_to 'All Employees', employees_path %>
</nav>
