<header id="content-header">
  <h1>New Comment for <%= link_to(@task.title, @task) %></h1>
</header>
<%= form_for([@task, @comment]) do |f| %>
<fieldset>
  <p>
    <li class="required">
      <%= f.label :name %>
      <%= f.text_field :name, size: 20, autofocus: true %>
    </li>
    <li class="required">
      <%= f.label :comment %><br/>
      <%= f.text_field :comment, cols: 80, autofocus: true %>
    </li>
  </p>
  <p>
    <%= f.submit 'Post Comment' %>
    <%= link_to "Cancel", @task, class: 'button' %>
  </p>
</fieldset>
<% end %>
