<%= form_for(@task) do |f| %>

<fieldset>
  <p>
    <%= f.label "Task Name: " %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Task Description: " %>
    <%= f.text_area :description, size: "20x10" %>
  </P>
  <p>
    <%= f.label "Length of Time To Complete: " %>
    <%= f.number_field :lot %> Minutes
  </p>
  <p>
    <%= f.label "Complete By: " %>
    <%= f.date_select :due %>
  <p>
    <%= f.label "Reoccuring: " %>
    <%= f.check_box :reoccuring %> Yes
  </P>
</fieldset>
  <p>
    <%= f.submit %>
  </p>
<% end %>
