<article id="task" class="task">
  <header>
    <h1><%= @task.title %></h1>
  </header>

  <p>
    Description: <%= @task.description %>
  </p>

  <p>
    Time to Complete: <%= @task.lot %> minutes
  </p>

  <p>
    Due on: <%= @task.due %>
  </p>

  <p>
    Reoccuring: <%= @task.reoccuring %>
  </p>

  <footer>
    <nav>

    </nav>
  </footer>
</article>
